{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
    <div class="card w-50 mx-auto">
        <div class="card-header">
            <h4 class="card-title">Please enter your email</h4>
        </div>
        <div class="card-body">
            <form class="form" role="form" action="{{ url_for('auth.reset_password') }}" method="post">
                <div class="form-group">
                    {{ form.email.label }}
                    {% for error in form.errors.email %}
                    <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                    {{ form.email(class='form-control') }}
                    <p></p>
                    {{ form.submit(class='btn btn-primary') }}
                    <p> Do you want try again? <a href="{{ url_for('auth.login') }}">Login</a>.</p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}